body{
    background-color: rgb(187, 153, 219);
    font-size: medium;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

td, th {
    border: 1px solid #000000;
    text-align: left;
    padding: 8px;
    }

tr{
    background-color: #ecd0ff;
    
    }

td img {
    display: block;
    margin: 0 auto; /* This will center the image */
    }

table{
        margin: 0 auto;
    }

h1{
        font-size: xx-large;
        text-align: center;
        text-decoration: underline;
    }
h2{
    font-size:150%;
    text-align: center;
    text-decoration: wavy;
    font-style: oblique;
    color: #280757;
}
    
p{
        font-size: medium;
        text-align: center;
    }

img{
    display: flexbox;
    margin: 0 auto;
}

p1{
    display: flexbox;
    
    flex-wrap: wrap;
    text-align: left;
}

p2{
    text-align: right;
}

li{
    margin: auto;
    width: 50%;
    border: 2px solid rgb(60, 0, 128);
    padding: 10px;
    text-align: center;
    
}

button{
    display: flexbox;
    width: 100px;
    margin: auto;
    width: auto;
    border: 2px solid #280757;
    padding: 20px;
}
nav{
    text-align: center;
}
footer{
    text-align: center;
}
div{
    text-align: center;
}
